{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Партнёры</title>
</head>
<body style = "font-family: Segoe UI; margin: 0; padding: 0;">
<div style = "display: flex; background: #f5ebd7; padding: 12px 20px; align-items: center;">
    <div style = "display: flex; align-items: center; gap: 10px;">
        <div><img src="{% static 'log.png' %}"  style="width: 50px; height: 50px;"></div>
        <div style = "font-size: 20px; font-weight: bold; line-height: 1.3; color: #5a4a3f;">Мастер<br>Пол</div>
    </div>
    <a href="" style = "padding: 8px 16px; background: #67BA80; text-decoration: none; border-radius: 20px;
            font-weight: bold; font-size: 16px; margin-left: auto;">Расчет материалов</a>
</div>
<h1 style = "text-align: center; max-width: 50%;">Партнёры</h1>
<div style="max-width: 50%; padding: 20px;">
{% for partner in partners %}
<div style="background: #f5ebd7; padding: 15px; margin-bottom: 15px; display: flex">
    <div style="flex: 1">
        <div><strong>{{ partner.partner_type.name }} | {{ partner.name }}</strong></div>
        <div>Директор: {{ partner.director }}</div>
        <div>Телефон: +7 {{ partner.phone }}</div>
        <div>Email: {{ partner.email }}</div>
    </div>
    <div>
        <div style="font-weight: bold; color: #c76b1f; font-size: 18px;">10%</div>
        <a href="#" style="color: #67BA80; text-decoration: none">История</a>
    </div>
</div>
{% endfor %}
</div>
<a href="{% url 'add_partner' %}" style="background: #67BA80;display: block; width: 110px; padding: 10px;
 margin: 0 auto;text-align: center; text-decoration: none;color: #000; border-radius: 20px;
  font-weight: bold;">Добавить</a>

</body>
</html>